@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.appWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.app {
  text-align: center;
  font-family: 'Work Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 10em;
}

.header {
  font-family: 'Work Sans';
  color: #6481af;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  margin-bottom: 8em;
}

.headerLink {
  text-decoration: none;
  color: #6481af;
  margin-top: 1em;
  margin-left: 1em;
}

.headerLink:hover {
  color: #000000;
}

.learnMoreLink {
  color: #6481af;
}

.appTitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.appDescription{
  margin-bottom: 1em;
}

.meaningTitle{
  margin-top: 1em;
}

.smallText {
  font-size: 0.8em;
}

.imageUploadArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20em;
}

.uploadedImage {
  max-width: 30em;
  max-height: 20em;
}

.memeMeaning {
  text-align: left;
}

.dropzone {
  width: 30em;
  height: 20em;
  border: 1px dashed black;
  border-radius: 10px;
  padding: 1em;
}
